# Frontend API URL configuration
# In local development: http://localhost:3000
# In production: https://your-backend-api-url.com
VITE_API_URL=http://localhost:3000

# COTURN Server Config (WebRTC TURN relay)
VITE_COTURN_URL=
VITE_COTURN_USERNAME=
VITE_COTURN_CREDENTIAL=

